body{
    background: gainsboro;
}
.img-flux{
    width: 480px;
    height: 300px;
    object-fit: cover;
}
.img-single{
    object-fit: cover;
    width: 500px;
    height: 400px;
} 
.img-wraped{
    max-width: 100%;
}

.col-grill{
    display: flex;
    justify-content: center;
}
.individual{
    border: 0.5px solid rgb(70, 68, 68);
    border-radius: 1px;
    min-width: 200px;
    max-width: 600px;
}
.postContainer{
    justify-content: center;
}
.postCol{
    justify-content: center;
    display: flex;
}

.col-modal{
    display: flex;
    justify-content: end;
}