body{
    background: gainsboro;
}
.img-grid{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img-wraped{
    max-width: 100%;
}

.col-grill{
    display: flex;
    justify-content: center;
}
.individual{
    border: 0.5px solid rgb(70, 68, 68);
    border-radius: 1px;
    min-width: 200px;
    max-width: 600px;
}
.postContainer{
    justify-content: center;
}
.postCol{
    justify-content: center;
    display: flex;
}

.dropdowCol{
    display: flex;
    justify-content: center;
}
.col-modal{
    display: flex;
    justify-content: end;
}